* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

h1,
.title-container,
.form {
  border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

.list,
.submit-button,
.refresh-button {
  border-radius: 5px 5px 0 0;
  box-shadow: -1px 1px 5px -1px #dbd7d7bf;
  -webkit-box-shadow: -1px 1px 5px -1px #dbd7d7bf;
  -moz-box-shadow: -1px 1px 5px -1px #dbd7d7bf;
}

body {
  background-color: hsla(0, 100%, 11%, 0.767);
  width: 80%;
  margin: 30px auto 0;
}

p {
  padding: 2% 2%;
}

h1 {
  font-size: 55px;
  color: #fff;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: row;
}

input {
  margin-bottom: 5%;
  padding: 2% 0;
  border-radius: 5px;
}

.scores,
.add-scores {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 40px;
  height: 60vh;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.list {
  width: 100%;
  overflow-y: scroll;
  height: 50vh;
  border: 1px solid #dbd7d7bf;
}

.list li:nth-child(odd),
.list li:nth-child(even) {
  width: 100%;
  box-sizing: border-box;
}

.list li:nth-child(even) {
  background: #fff;
  color: #9b9ea0;
}

.list li:nth-child(odd) {
  background: #9b9ea0;
  color: #fff;
}

.add-title,
.recent-title {
  color: #fff;
  box-sizing: border-box;
  margin-left: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-name,
.input-score {
  padding: 1%;
}

.submit-button,
.refresh-button {
  margin-left: auto;
  margin-top: 2%;
}

button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #ccc;
  color: #eee;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #f7c2f9;
}
