body {
  margin: auto;
  padding: 10px;
}

.listContainer {
  float: left;
  width: 35%;
  margin-left: 5%;
}

.formContainer {
  float: left;
  margin-left: 5%;
  width: 40%;
}

.inputName {
  margin-bottom: 5%;
}

.subbtn {
  float: right;
  margin-top: 5%;
}

ul {
  list-style-type: none;
  border: 4px solid black;
  padding: 0;
}

form {
  width: fit-content;
}

li {
  background: white;
  padding-left: 1%;
}
li:nth-child(odd) { background: rgb(207, 203, 203); }
